## Test CSV Data

In [2]:
import pandas as pd

/Users/milenaschnitzler/anaconda3/envs/co2calculator/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [6]:
airports = pd.read_csv(
    "https://davidmegginson.github.io/ourairports-data/airports.csv"
)
# Nur Zeilen behalten, bei denen 'iata_code' nicht NaN ist
filtered_airports = airports.dropna(subset=["iata_code"])

NameError: name 'filteres_airports' is not defined

In [8]:
filtered_airports[filtered_airports['iata_code'] == 'STR']

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
22743,2222,EDDS,large_airport,Stuttgart Airport,48.689899,9.22196,1276.0,EU,DE,DE-BW,Stuttgart,yes,EDDS,STR,NaN,http://www.flughafen-stuttgart.de/,https://en.wikipedia.org/wiki/Stuttgart_Airport,NaN

In [9]:
print(filtered_airports["iata_code"].values)

['UTK' 'OCA' 'CUX' ... 'SHE' 'YNJ' 'YKH']

In [11]:
print(filtered_airports[["iata_code"]].values)

[['UTK']
 ['OCA']
 ['CUX']
 ...
 ['SHE']
 ['YNJ']
 ['YKH']]

In [5]:
train_stations = pd.read_csv(
    "https://raw.githubusercontent.com/trainline-eu/stations/master/stations.csv"
)

In [8]:
train_stations

      id;name;slug;uic;uic8_sncf;latitude;longitude;parent_station_id;country;time_zone;is_city;is_main_station;is_airport;is_suggestable;country_hint;main_station_hint;sncf_id;sncf_tvs_id;sncf_is_enabled;entur_id;entur_is_enabled;db_id;db_is_enabled;busbud_id;busbud_is_enabled;distribusion_id;distribusion_is_enabled;flixbus_id;flixbus_is_enabled;cff_id;cff_is_enabled;leoexpress_id;leoexpress_is_enabled;obb_id;obb_is_enabled;ouigo_id;ouigo_is_enabled;trenitalia_id;trenitalia_is_enabled;trenitalia_rtvt_id;trenord_id;ntv_rtiv_id;ntv_id;ntv_is_enabled;hkx_id;hkx_is_enabled;renfe_id;renfe_is_enabled;atoc_id;atoc_is_enabled;benerail_id;benerail_is_enabled;westbahn_id;westbahn_is_enabled;sncf_self_service_machine;same_as;info:de;info:en;info:es;info:fr;info:it;info:nb;info:nl;info:cs;info:da;info:hu;info:ja;info:ko;info:pl;info:pt;info:ru;info:sv;info:tr;info:zh;normalised_code;iata_airport_code
0      1;Château-Arnoux – St-Auban;chateau-arnoux-st-...
1      2;Château-Arnoux – St-Auban;chateau-arnoux-st-...
2      3;Château-Arnoux Mairie;chateau-arnoux-mairie;...
3      4;Digne-les-Bains;digne-les-bains;;;44.350000;...
4      6;Digne-les-Bains;digne-les-bains;8775149;8775...
...                                                  ...
70514  74670;Minihy-Treguier;minihy-treguier;;;48.779...
70515  74671;Vieux-Boucau-les-Bains;vieux-boucau-les-...
70516  74672;Lucca Via Gaetano Luporini;lucca-via-gae...
70517  74673;Bratislava-Petrzalka;bratislava-petrzalk...
70518  74674;Palermo Libertà;palermo-liberta;;;38.143...

[70519 rows x 1 columns]